.caixa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 600px;
}

.texto {
	font-size: 20px;
	font-family: bradley, hand, cursive;
}

.entrada {
	padding: 10px 15px;
	font-size: 15px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}