body {
	background-color: #CD5C5C;
}

.caixa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 600px;
}

.texto {
	font-size: 20px;
	font-family: bradley, hand, cursive;
}

.entrada {
	padding: 15px;
	width: 20%;
	font-size: 15px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	margin-bottom: 20px;
}

.botao {
	padding: 15px 20px;
	width: 14%;
	font-size: 17px;
	border-width: 1px;
	font-weight: bolder;
	border-radius: 5px;
	border-style: solid;
	cursor: pointer;
	background-color: #FFFFFF;
	transition: 1s;
}

.botao:hover {
	transform: scale(1.2) rotate(5deg);
	background-color: #F0F8FF;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
	.botao, .entrada {
		width: auto;
	}
}

@media screen and (min-width: 501px) and (max-width: 1240px) {
	.botao {
		width: 20%;
	}

	.entrada {
		width: 30%;
	}
}